/*
MAJOR problem finding out how to link to image. Googling the isseu
gave url("./images....") in all replies. Found out the answer by
trial and error.
File path is relative to the css file itself and not the project
folder as expected. This should have been mentioned in the course,
or otherwise I have missed this info.
*/
body {
  text-align: center;
  font-family: helvetica;
}
.intro {
  background-image: url("..//images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* font-family: helvetica; *moved to body**/
  /* text-align: center; *moved to body**/
  color: white
}
/*should h1 below be .intro h1 {...} instead? */
h1 {
  font-size: 70px;
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
}
.process-head {
  font-size: 32px;
  font-weight: bold;
}
.steps {
  font-size: 23px;
  font-weight: bold;
}
.infotext {
  font-size: 14px;
}
.divider {
  /* background-image: url("..//images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; *re-used background-image in .intro**/
  font-size: 23px;
  font-weight: bold;
}
footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}
.copyright {
  font-size: 11px;
}
